body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #333; }

.header {
  padding: 20px 0px;
  text-align: center;
  color: white;
  background: #336A03; }

.header > * {
  margin: 16px; }

a {
  color: #FFFCD5;
  text-decoration: none; }
  a:hover {
    color: #6AC77A; }

img {
  vertical-align: middle;
  width: 50px;
  border-radius: 50%;
  margin-right: 14px; }

table {
  padding: 0;
  width: 100%; }

table tr {
  margin: 0;
  padding: 10;
  border-top: 1px solid #cccccc;
  background-color: white; }

table tr:nth-child(2n) {
  background-color: #f8f8f8; }

table tr th {
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 10px 10px; }

table tr td {
  text-align: left;
  margin: 0;
  padding: 10px 10px;
  white-space: nowrap;
  overflow: hidden; }

.sort-list {
  color: #336A03;
  cursor: pointer; }
  .sort-list:hover {
    color: #6AC77A; }
